{% extends 'base.html' %}
{% block title %}добавление объекта в модель {{ m.__name__ }}{% endblock %}
{% block body %}
<div id="main">
<fieldset>
<legend>Меню</legend>
<ul id="menu">
    <li>
        <a href="{{ url_for('admin.index') }}">Индекс</a>
    </li>
    <li>
        <a href="{{ url_for('admin.list/model', model=m.__name__.lower()) }}">{{ m.__name__ }}</a>
    </li>
</ul>
</fieldset>
<fieldset>
<legend>Добавление объекта в модель {{ m.__name__ }}:</legend>
    <form id="form" action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        <table>
            {% for field in form %}
                <tr>
                    <td width="20%">{{ field.label }}</td>
                    <td width="80%">
                    <div class="errors">
                        {% for e in field.errors %}
                            {{ e }}
                        {% endfor %}
                    </div>
                    {{ field }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" value="Сохранить"></td>
            </tr>
        </table>
    </form>
</fieldset>
</div>
{% endblock %}