<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript" src="{{ url_for('admin.static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static', filename='js/index.js') }}"></script>
    <link type="text/css" rel="stylesheet" media="all" href="{{ url_for('admin.static', filename='css/screen.css') }}" />
    <title>Traceback</title>
</head>
<body>
{{ traceback }}
</body>
</html>